body {
    background-image: url(Images/fog-foggy-mist-5230.jpg);
    background-size: cover;
}

.center {
    margin: auto;
    text-align: center;
    padding: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.customFont {
    font-family: 'Arial', sans-serif;
    font-weight: lighter;
}

.superFont {
    font-family: 'Arial', sans-serif;
    font-size: 200px
}
