body {
    background-image: url(Images/fog-foggy-mist-5230.jpg);
    background-size: cover;
}

.center {
    margin: auto;
    text-align: center;
    padding: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

input {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 2px;
}

.loginButton {
    transition-duration: 0.4s;
}

.loginButton:hover {
    background-color: rgb(196, 196, 196);
}
