body {
  font-family: sans-serif;
  background: rgb(245, 245, 245);
}
h1 {
  padding-top: 15px;
  padding-bottom: 5x;
}
h2 {
  margin: 5px 0;
  padding-top: 15px;
  padding-bottom: 5px;
}
#wrapper {
  width: 600px;
  margin: 0 auto;
  background: white;
  padding: 10px 15px;
  border-radius: 5px;
}
input {
  /* width: 200px; */
  margin: 5px 10px;
  padding: 3px 4px;
}
button {
  font-size: 18px;
  padding: 10px;
  margin: 20px 0;
  color: black;
  border-radius: 4px;
}
#submit {
  background: lightgray;
}
#reset {
  background: rgb(240, 128, 128);
}
#answer {
  border: 1px dashed #ccc;
  background: #eee;
  padding: 10px;
}
div.commentDisplay {
  background-color: white;
  /* border-style: solid;
  border-color: darkgray; */
  overflow: scroll;
  height: 150px;
  width: 500px;
}